@model IEnumerable<ClassLibrary.Entities.Hero>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MHP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AHP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MMP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AMP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lvl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Exp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Str)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dex)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Int)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Spd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MinDmg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxDmg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhysRes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Class)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Race)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxPockets)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Profiles.UserName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MHP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AHP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MMP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AMP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lvl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Exp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Str)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dex)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Int)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Spd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MinDmg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaxDmg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhysRes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Class)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Race)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaxPockets)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Profiles.UserName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
