<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link runat="server" rel="shortcut icon" href="@_3.ViewModels.SiteModel.getLogoIconFolder()@_3.ViewModels.SiteModel.getLogoIcon()" type="image/x-icon" />
    <link runat="server" rel="icon" href="@_3.ViewModels.SiteModel.getLogoIconFolder()@_3.ViewModels.SiteModel.getLogoIcon()" type="image/ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="bg-secondary">
    <nav class="navbar bg-dark navbar-dark navbar-expand-sm">
        <div class="container">
            <div class="navbar-brand">
                @Html.ActionLink("The 3", "ChooseCharacter", "GamePlay", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <ul class="nav navbar-nav">
                @if (User.IsInRole("Admin"))
                {
                    <li>@Html.ActionLink("Heroes", "Index", "Heroes", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Profiles", "Index", "Profiles", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Pockets", "Index", "Pockets", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Items", "Index", "Items", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Items Informations", "Index", "ItemInfoes", new { area = "" }, new { @class = "nav-link" })</li>
                }
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        @RenderSection("SPAViews", required: false)
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Scripts", required: false)
</body>
</html>
