@model ClassLibrary.Entities.Hero
@{
    string aHP = (Model.AHP.ToString().AsDecimal() / Model.MHP.ToString().AsDecimal() * 100).ToString();
    string aMP = (Model.AMP.ToString().AsDecimal() / Model.MMP.ToString().AsDecimal() * 100).ToString();
    string exp = (Model.Exp.ToString().AsDecimal() / Model.ExpToLvlUp.ToString().AsDecimal() * 100).ToString();
    aHP = aHP.Substring(0, Math.Min(aHP.Length, 4));
    aMP = aMP.Substring(0, Math.Min(aMP.Length, 4));
    exp = exp.Substring(0, Math.Min(exp.Length, 4));
}
<div>
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd id="Hero_Name">
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lvl)
        </dt>

        <dd id="Hero_Lvl">
            @Html.DisplayFor(model => model.Lvl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AHP)
        </dt>

        <dd id="Hero_AHP_MHP">
            <div class="progress">
                <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" style="width:@aHP%"></div>
            </div>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AMP)
        </dt>

        <dd id="Hero_AMP_MMP">
            <div class="progress">
                <div class="progress-bar bg-info progress-bar-striped progress-bar-animated" style="width:@aMP%"></div>
            </div>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Exp)
        </dt>

        <dd id="Hero_Exp_ExpToLvlUp">
            <div class="progress">
                <div class="progress-bar bg-warning progress-bar-striped progress-bar-animated" style="width:@exp%"></div>
            </div>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gold)
        </dt>

        <dd id="Hero_Gold">
            @Html.DisplayFor(model => model.Gold)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Str)
        </dt>

        <dd id="Hero_Str">
            @Html.DisplayFor(model => model.Str)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sta)
        </dt>

        <dd id="Hero_Sta">
            @Html.DisplayFor(model => model.Sta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Int)
        </dt>

        <dd id="Hero_Int">
            @Html.DisplayFor(model => model.Int)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dex)
        </dt>

        <dd id="Hero_Dex">
            @Html.DisplayFor(model => model.Dex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Spd)
        </dt>

        <dd id="Hero_Spd">
            @Html.DisplayFor(model => model.Spd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MinDmg) - @Html.DisplayNameFor(model => model.MaxDmg)
        </dt>

        <dd id="Hero_MinDmg_MaxDmg">
            @Html.DisplayFor(model => model.MinDmg) - @Html.DisplayFor(model => model.MaxDmg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhysRes)
        </dt>

        <dd id="Hero_PhysRes">
            @Html.DisplayFor(model => model.PhysRes)
        </dd>
    </dl>
</div>
