@model ClassLibrary.Entities.Hero

<div>
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd id="Hero_Name">
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AHP)
        </dt>

        <dd id="Hero_AHP_MHP">
            @Html.DisplayFor(model => model.AHP)/@Html.DisplayFor(model => model.MHP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AMP)
        </dt>

        <dd id="Hero_AMP_MMP">
            @Html.DisplayFor(model => model.AMP)/@Html.DisplayFor(model => model.MMP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lvl)
        </dt>

        <dd id="Hero_Lvl">
            @Html.DisplayFor(model => model.Lvl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Exp)
        </dt>

        <dd  id="Hero_Exp_ExpToLvlUp">
            @Html.DisplayFor(model => model.Exp)/@Html.DisplayFor(model => model.ExpToLvlUp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Str)
        </dt>

        <dd id="Hero_Str">
            @Html.DisplayFor(model => model.Str)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sta)
        </dt>

        <dd id="Hero_Sta">
            @Html.DisplayFor(model => model.Sta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Int)
        </dt>

        <dd id="Hero_Int">
            @Html.DisplayFor(model => model.Int)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dex)
        </dt>

        <dd id="Hero_Dex">
            @Html.DisplayFor(model => model.Dex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Spd)
        </dt>

        <dd id="Hero_Spd">
            @Html.DisplayFor(model => model.Spd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MinDmg) - @Html.DisplayNameFor(model => model.MaxDmg)
        </dt>

        <dd id="Hero_MinDMg_MaxDmg">
            @Html.DisplayFor(model => model.MinDmg) - @Html.DisplayFor(model => model.MaxDmg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhysRes)
        </dt>

        <dd id="Hero_PhysRes">
            @Html.DisplayFor(model => model.PhysRes)
        </dd>
    </dl>
</div>
